*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: url("https://t4.ftcdn.net/jpg/05/73/69/57/360_F_573695700_oqLeByUUoo6Nv6MVgtzSNjEHlrPteADv.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-size: 5rem;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  color: white;

  animation: scale-anim 3s both ease-in-out infinite alternate;
}

@keyframes scale-anim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

h2 {
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main > section {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2rem;
  margin-top: 2rem;
  width: 100%;
}

main > section:nth-child(2n-1) {
  background-color: rgba(22, 52, 52, 0);
  font-family: Arial, Helvetica, sans-serif;
}

main > section > h2 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.start-btn {
  padding: 1.5rem;
  background-color: forestgreen;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px;
}

.start-btn:hover {
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.margin-tb {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.text1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: white;
  padding: 1rem;
  border: 1px solid darkgray;
  border-radius: 15px;
  box-shadow: 0 0 5px darkgray;
  width: 100%;
  transition: box-shadow 0.2s ease-in-out;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  background-color: rgb(22, 52, 52);
}

.controls-table {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  background-image: none;
  border: 1px solid darkgray;
  border-radius: 15px;
  box-shadow: 0 0 5px darkgray;
  padding: 1rem;
}

.controls-row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: white;
}

.text-with-image {
  padding: 1rem;
  border: 1px solid darkgray;
  border-radius: 15px;
  box-shadow: 0 0 5px darkgray;
  width: 100%;
  transition: box-shadow 0.2s ease-in-out;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  background-image: none;
}

.text-with-image > img {
  width: 65%;
  border-radius: 15px;
}

.text-with-image > .text {
  width: 35%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1.3rem;
}

.video {
  padding: 1rem;
  border: 1px solid darkgray;
  border-radius: 15px;
  box-shadow: 0 0 5px darkgray;
  width: 100%;
  transition: box-shadow 0.2s ease-in-out;
  margin-top: 3rem;
  display: block;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.video > video {
  margin-top: 15px;
  width: 100%;
  border-radius: 10px;
}
